:root {
    --white-color: #F5F5F5;
    --lightgray-color: #d8d8d8;
    --gray-color: #a1a1a1;
    --darkgray-color: #505050;
    --black-color: #141414;
    --accentless-color: #141414;
    --shadowlight-color: #f4f4f4a4;
    --back-color: #ffffff1c;
    --blackback-color: #0000005b;
    --purple-color: #7800affe;
    --blue-color: #0052affe;
}