* {
  padding: 0;
  margin: 0;
}

[title]:hover {
    position: relative;
    content: attr(title); 
    cursor:pointer; 
  }

a {
    color: white;
    text-decoration: none;
}
/* top */
body {
    background: url(/resource/background.gif);
    background-attachment: fixed;
    background-size: cover;

}
/* top */
/* header */

header {
    padding: 50px 50px 0 50px;

    font-family: monospace;

}

.nav {
    width: 100%;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.nav-left {
    display: flex;
    gap: 20px;
    width: 33%;
    backdrop-filter: blur(4px);

}

.nav-center {
    display: flex;
    justify-content: center;
    backdrop-filter: blur(4px);
}

.nav-right {
    display: flex;
    width: 33%;
    justify-content: end;
}


.geo, .status {
    width: 100px;
}
.menu {
    display: flex;
    padding: 8px;
    width: 200px;
    gap: 10px;
    justify-content: start;
}

.menu img {
    left: 0;
    width: 20px;
}




.lang, .geo, .status, .menu {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    padding: 10px;
    border: 2.5px solid var(--border-color);
    border-radius: 50px;
    box-shadow: inset 0 0 10px var(--white-color);
    background: var(--back-color);
    backdrop-filter: blur(3px);

}

.lang img, .lang{
    width: 20px;
    transition: transform 0.2s ease;
    backdrop-filter: blur(4px);
    box-shadow: inset 0 0 20px var(--blue-color);
    border-radius: 50%;

}

.lang:hover {
    transform: rotate(15deg) scale(1.1);
}

/* header */
/* body */
.main-part {
    height: 750px;

}
/* top-body */
.container-top {
    display: flex;
    justify-content: center;
    font-family: monospace;

}

.THK {
    text-align: center;
    color: var(--white-color);
    padding-top: 7%;
    font-weight: bold;
    font-size: 55px;
    filter: drop-shadow(0 0 10px var(--black-color));

}


.cards {
    justify-content: center;
    z-index: 5;
    display: flex;
    position: absolute;

}
.cards > .left-top, .cards > .left-bottom, .cards > .right-top, .cards > .right-bottom {
    height: 225px;
    width: 150px;
    border-radius: 15px;
    border: 2px solid var(--border-color);
    background-color: var(--back-color);
    box-shadow: inset 0 0 20px var(--white-color), 0 0 10px var(--black-color);
    backdrop-filter: blur(4px);
}
.cards > .left-top {
    position: relative;
    rotate: -13.5deg;
    z-index: 5;
    top: 50px;
    right: 170px;
    overflow: hidden;
    background-color: var(--black-color);
    box-shadow: inset 0 -5px 10px var(--blue-color), inset 0 0px 5px var(--accentless-color);
    transition: transform 0.2s ease;
}

.cards > .left-top:hover {
    transform: scale(1.1);
    rotate: -10.5deg;
    box-shadow: inset 0 -5px 10px var(--blue-color), 0 0 20px var(--accentless-color);
}

.back-card {
    display: flex;
    flex-wrap: wrap;
    border-radius: 15px;
    margin: 10px;
    width: 130px;
    height: 200px;
    background: url(/resource/card/background.png);
    background-size: cover;
    box-shadow: inset 0 -5px 10px var(--black-color);
    overflow: hidden;
}

.rabbit-card{
    bottom: 0;
    width: 130%;
}

.card-bio-thk {
    width: 140px;
}

.cards > .left-bottom {
    position: relative;
    rotate: -23.5deg;
    z-index: 3;
    top: 350px;
    right: 440px;

}
.cards > .right-top {
    position: relative;
    rotate: 13.5deg;
    z-index: 5;
    top: 50px;
    left: 480px;

}

.cards > .right-bottom {
    position: relative;
    rotate: 23.5deg;
    z-index: 3;
    top: 350px;
    left: 170px;
}

/* grid */
.grid-part {
    width: 100%;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--blackback-color);
    backdrop-filter: blur(10px);
    border-top: 3px dashed var(--back-color);
}

.grid {
    width: 96%;
    display: flex;
    gap: 10px;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-me, .social, .status-server, .yandexmusic, .code,
.chess, .projects, .monkeytype, .leetcode,
.projects-design, .duo, .time, .art, .donate {
    border: 2px solid var(--border-color);
    background-color: var(--back-color);
    box-shadow: inset 0 0 20px var(--white-color), 0 0 20px var(--black-color);
    backdrop-filter: blur(4px);
}

/* block-first */

.row-block1 {
    display: flex;
    gap: 10px;
    width: 100%;
}

.about-me {
    width: 33%;
    height: 450px;
    border-radius: 25px;
}

.social-status {
    width: 33%;
}

.social {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 25px;
}

.status-server {
    width: 100%;
    height: 140px;
    bottom: 0;
    border-radius: 25px;
}

.yandexmusic-code {
    width: 33%;
}

.yandexmusic {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 25px;
}

.code {
    width: 100%;
    height: 140px;
    bottom: 0;
    border-radius: 25px;
}
/* block-first */
/* block-second */

.row-block2 {
    display: flex;
    gap: 10px;
    width: 100%;
}

.chess {
    width: 33%;
    height: 450px;
    border-radius: 25px;
}

.projects {
    width: 33%;
    height: 450px;
    border-radius: 25px;
}

.monkeytype-leetcode {
    width: 33%;
}

.monkeytype {
    width: 100%;
    height: 220px;
    margin-bottom: 10px;
    border-radius: 25px;
}

.leetcode {
    width: 100%;
    height: 220px;
    bottom: 0;
    border-radius: 25px;
}
/* block-second */
/* block-third */
.row-block3 {
    display: flex;
    gap: 10px;
    width: 100%;
}

.projects-design {
    width: 50%;
    height: 450px;
    border-radius: 25px;
}

.duo-time-art-donate {
    width: 50%;
}

.duo-time-art {
    display: flex;
    gap: 10px;
    width: 100%;
}

.duo, .time, .art{
    width: 33%;
    height: 220px;
    margin-bottom: 10px;
    border-radius: 25px;
}

.donate {
    width: 100%;
    height: 220px;
    bottom: 0;
    border-radius: 25px;
}

/* block-third */
/* grid */